# Meta Files aren't Needed Here
*.meta
*.meta.*

# Ignore Git Setup Files
Git-Setup.bat
Git-Setup.sh

# Analytics handling & Event Data
Analytics/*

# DebugTools
Data/CardGameEditorTweaks.cs

# Un-Needed Files
Scripts.asmdef
/package.json
