# Meta Files aren't Needed Here
*.meta
*.meta.*

# Ignore Project Scripts
Git-Setup.bat
Git-Setup.sh

# Analytics handling & Event Data
Analytics/Private/*

# DebugTools
Data/CardGameEditorTweaks.cs

# Un-Needed Files
Scripts.asmdef
/package.json

# IDE Files
.vscode
