# Meta Files aren't Needed Here
*.meta
*.meta.*

# Ignore Git Setup Files
Git-Setup.bat
Git-Setup.sh

# Don't Upload files with Sensitive Information
Data/HardwareDataCollector.cs
Data/UnityServicesInitializer.cs
Data/PrivateData.cs

# DebugTools
Data/CardGameEditorTweaks.cs

# Un-Needed Files
Scripts.asmdef
/package.json
